<h1 class = "burgerTitle"> BurgerTime </h1>

<img class = "burgerPic" src="assets/img/burgers-banner.jpg">

<h2>Make your own burger!</h2>

<form class="create-form burger-entry-group" action="/burgers/create" method="post"> 

  <div class="form-group">
    <label class = "burger-entry-title" for="ca">Burger:</label>
    <input class = "burger-input" type="input" id="burger-box" name="name">
  </div>

  <button class = "button" type="submit">Add Burger!</button> 
</form>
<div class = "row">
  <div class = "col-med-6 created-column">
    <h2 class = "created">Burgers</h2>

    <p class = "created-list" >
        {{#each burger_Data }}
        {{#unless this.devoured}}
          <form action =>
            <li class = "created-list"><button class = "created-buttons" id = {{this.id}}>{{this.id}}. Click to eat your {{this.burger_name}}</button></li>
          </form>
        {{/unless}}


      {{/each}}
    </p>
  </div>

  <div class="col-med-6 devoured-column">
    <h2 class = "devoured">Devoured Burgers</h2>

    <ul class = "devoured">
      {{#each burger_Data}}
          {{#if this.devoured}}
          <li id = "eaten-list" data-newDevoured = {{this.id}}><button class = "devoured-buttons">{{this.burger_name}}</li></button>
          {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


<script>
</script>
